<div class="contact">Contact Us
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Your name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Your Message"></textarea>
    </mat-form-field>


  </div>
  <div class="example-button-row">
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</div>
