.container {
  margin: 2rem auto;
  max-width: 900px;
}

.container-card {

  flex-direction: column;
  margin-bottom: 30px;
}
.container-card div:first-child {

  flex-grow: unset;
  margin-right: unset;
  margin-bottom: 5px;
}

.container-card div:last-child mat-card{
  height: auto;
  padding: 2px;
}
section.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.btn-section{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

h3.item-title {
  /* text-align: center; */
  color: #3f51b5;
}
.example-icon {
  padding: 0 14px;
  cursor: pointer;

}

.example-spacer {
  flex: 1 1 auto;
}



.example-card {
  max-width: 400px;
}


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}
.example-form-field {
  width: 200px;
}
.desc{
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.item-img{
  max-width: 100px;
}
.mat-expansion-panel-header {
  margin: 0.8px;
  padding: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  section.card-section {
    flex-direction: column;
    align-items: center
  }
  .item-img{
    max-width: 300px;
  }
  h3.item-title {
    text-align: center;
    font: 1.8rem;
    border-bottom:1px solid #3f51b5;
  }
}
