<div *ngIf="!isPayed; else payed">
  <p *ngIf='name'>
    hello {{name}}
  </p>
  <ng-template [ngIf]="total > 0">
    <ng-container *ngTemplateOutlet="orderList"></ng-container>
  </ng-template>

  <ng-template [ngIf]="!name">
    <h3> Please you need to identified </h3>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
    <button mat-raised-button color="primary" routerLink="/singUp">SingUp</button>
  </ng-template>

  <ng-template [ngIf]="name">
    <button mat-raised-button color="primary" [disabled]="!total" (click)="createOrder()">Pay</button>
  </ng-template>

</div>

<ng-template #payed>
  <h3>Successfully Paid</h3>
  <button mat-raised-button color="primary" routerLink="/menu">go to home page</button>
</ng-template>


<ng-template #orderList>
  <mat-card>
    <ng-container *ngFor='let item of menu'>
      <div *ngIf='menu' class="container">
        <h3 *ngIf="item.amount">item title {{item.title}} amount {{item.amount}} </h3>
      </div>
    </ng-container>
  </mat-card>
  <mat-card>
    <div>Total price {{total}} </div>
  </mat-card>
</ng-template>
