.example-button-row button,
.example-button-row a {
  margin-right: 8px;

}
.mat-raised-button{
  margin-inline-end: 10px;
}

.container {
  margin: 2rem auto;
  max-width: 900px;
}
mat-card{
margin-bottom:10px;
}
