<h3>Menu </h3>


<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="search" [(ngModel)]="searchValue">
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>




<div *ngIf="basketSubj | async">
  <!--
    1.get our menu object from menu service
    2.function keyvalue change object to array
    3.async make subscription in template

  -->
  <mat-card *ngFor="let item of basketSubj | async | keyvalue | search: searchValue">
    <div class="card-content">
      <div class="desc">
        {{item.value.title}} price {{item.value.price}}
      </div>
      <div class="example-button-row">
        <!--take data from counter component,activated by function addToBasket -->
        <app-counter [count]="item.value.amount || 0" (countChange)="addItemToBasket(item.value,$event, item.key)">
        </app-counter>
      </div>
    </div>
  </mat-card>

</div>
<br>
<div class="example-button-row">
  <button routerLink="/basket" mat-raised-button color="primary">go to basket</button>
</div>
