<mat-card>
  <div>
    <form [formGroup]="singUpForm" (ngSubmit)="onSingUp()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required email>
          <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="!singUpForm.get('email').valid && singUpForm.get('email').touched">
            Please enter valid password.
          </mat-error>
        </mat-form-field>
        <br>
      </div>
      <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary" [disabled]="!singUpForm.valid">SingUp</button>
      </div>
    </form>
  </div>
</mat-card>
