.main {
  margin: 2rem auto;
  max-width: 900px;
}

.container {
  width: 98%;
  margin: 0 auto;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;

}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.mat-toolbar{
  margin-block-end: 10px;
}



