<mat-card>
  <div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="example-container">
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
            email
          />
          <mat-error>{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error
            *ngIf="
              !loginForm.get('email').valid && loginForm.get('email').touched
            "
          >
            Please enter valid password.
          </mat-error>
        </mat-form-field>
        <br />
      </div>
      <div class="example-button-row">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</mat-card>
